<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="KaylowProduction.praypal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrayPal">
        <activity
            android:name=".Bible2"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="true" />
        <activity
            android:name=".My_Notes"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddReminderActivity"
            android:exported="true" />
        <activity
            android:name=".Prayer2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Support"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reminder"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Verse"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fasting"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prayer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bible"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>